<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/vars.css') }}">
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
       -webkit-font-smoothing: antialiased;
   }
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Home Page</title>
</head>
<body>
  <div class="prototype-1-0-home-page">
    <div class="rectangle-4"></div>
    <div class="rectangle-8"></div>
    <img class="image" src="{{ url_for('static', filename='src/image0.png') }}" />
    <div class="copyright-2024-calorie-counter-all-rights-reserved-joey-agterberg-aaron-ng">
      Copyright © 2024 Calorie-Counter. All rights reserved.
      <br /><br />
      Joey Agterberg &amp; Aaron Ng
    </div>
    <div class="j-agterberg">J. Agterberg</div>
    <img class="vector" src="{{ url_for('static', filename='src/vector0.svg') }}" />
    <div class="track-and-achieve-your-weight-goals-with-our-tools">
      Track and achieve your weight goals with our tools
    </div>
    <div class="welcome-to-our-platform-where-we-offer-simple-tools-to-help-you-manage-your-weight-and-reach-your-fitness-goals-whether-you-re-aiming-to-lose-weight-gain-muscle-or-maintain-your-progress-our-features-make-tracking-easy-start-today-and-take-control-of-your-health">
      Welcome to our platform, where we offer simple tools to help you manage your weight and reach your fitness goals. Whether you&#039;re aiming to lose weight, gain muscle, or maintain your progress, our features make tracking easy. Start today and take control of your health!
    </div>
    <div class="rectangle-12"></div>
    <div class="rectangle-13"></div>
    <div class="weightloss-gain-forecast">Weight loss/gain forecast</div>
    <div class="rectangle-132"></div>
    <div class="dish-calorie-predictor">Dish calorie predictor</div>
    <div class="rectangle-133"></div>
    <div class="exercise-calorie-forecast">Exercise calorie forecast</div>
    <div class="rectangle-134"></div>
    <div class="goal-planner">Goal planner</div>
    <div class="rectangle-135"></div>
    <div class="dashboard">Dashboard</div>
    <div class="rectangle-136"></div>
    <div class="tools">Tools</div>
    <div class="the-weightloss-gain-forecast-tool-predicts-your-weight-change-by-comparing-your-calorie-intake-with-the-calories-you-burn-it-helps-you-understand-how-your-eating-habits-and-activity-levels-affect-your-weight-over-time">
      The Weightloss/Gain Forecast tool predicts your weight change by comparing your calorie intake with the calories you burn. It helps you understand how your eating habits and activity levels affect your weight over time.
    </div>
    <img class="image2" src="{{ url_for('static', filename='src/image1.png') }}" />
    <div class="rectangle-15"></div>
    <div class="calculate">Calculate</div>
    <img class="polygon-1" src="{{ url_for('static', filename='src/polygon-10.svg') }}" />
    <img class="polygon-2" src="{{ url_for('static', filename='src/polygon-20.svg') }}" />
    <div class="rectangle-16"></div>
  </div>
</body>
</html>